<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="ArvanCloud" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Hello World from Local</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>

  <body>
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="font-size: 50px">Seamerco Industrial Group</h1>
        <p>Manufacturer of Canned Food Machinery</p>
        <button>Run Your Factory</button>
      </div>
    </div>
  </body>
</html>
